<!doctype html>
<html>

<head>


</head>

<body>

    <h1>
        Home of a future awesome site
    </h1>

</body>


<footer>
    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>

    <!-- my logic js -->
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</footer>

</html>
